@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Comfortaa:wght@400;700&family=Quicksand:wght@400;600&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@layer components {
  .input-style {
    @apply w-full p-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-pink-300 placeholder:text-gray-400;
  }
}
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}

.animate-wiggle {
  animation: wiggle 1s ease-in-out infinite;
}
